/* Overriding bootstrap styles for a custom theme*/

/*Header Bar (overall site and sub headings in Dashboard)*/
.navbar-inner {
    min-height: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #333;
    background-image: -moz-linear-gradient(top, #ce4213, #dd4814);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce4213), to(#dd4814));
    background-image: -webkit-linear-gradient(top, #ce4213, #dd4814);
    background-image: -o-linear-gradient(top, #ce4213, #dd4814);
    background-image: linear-gradient(to bottom, #6f766f, #6f766f);
    background-image: none;
    background-repeat: repeat-x;
    border: 1px solid #6f766f;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce4213', endColorstr='#ffdd4814', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065)
}

/*Navigation buttons on Navbar (hovering)*/
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #555;
}

/*Navigation buttons on Navbar (focusing)*/
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #fff;
    background-color: #555;
}

/*Links to pages on Navbar dropdowns*/
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    color: #DC241F;
    white-space: nowrap;
    font-weight: bold;
}

/*Text on Navbar dropdowns*/
.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #DC241F;
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    text-decoration: underline;
}

/*Investigation header bars*/
.fading-header{
    background-color: #333;
    *background-color: #dd4814;
    background-image: -moz-linear-gradient(top, #ef784e, #dd4814);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef784e), to(#dd4814));
    background-image: -webkit-linear-gradient(top, #ef784e, #dd4814);
    background-image: -o-linear-gradient(top, #ef784e, #dd4814);
    background-image: linear-gradient(to bottom, #6F766F, #595E59);
    background-image: none;
    background-repeat: repeat-x;
    border-color: #dd4814 #dd4814 #97310e;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-top-color: #fff;
    border-bottom-color: #fff;
    font-weight: bold;
}

/*Invesistgation header bars: hover*/
.fading-header:hover{
    background-color: #555;
    *background-color: #97310e;
    background-image: -moz-linear-gradient(top, #dd4814, #97310e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4814), to(#97310e));
    background-image: -webkit-linear-gradient(top, #dd4814, #97310e);
    background-image: -o-linear-gradient(top, #dd4814, #97310e);
    background-image: linear-gradient(to bottom, #595E59, #474B47);
    background-image: none;
    background-repeat: repeat-x;
}

/*Investigation header bars: font alignment*/
.inv-legend {

    color: #fff;
    border: none;
    padding-top: 3px;
    padding-bottom: 8px;
    padding-left: 5%;
    min-height: 20px;

}
.inv-legend p {
    font-size: 18px;
    text-align: left;
    float: left;
    width: 90%;
    list-style: none;
}

/*Subdivisions of Investigation page*/
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 5px solid #555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

[class^="icon-"],[class*=" icon-"]{display:inline;width:auto;height:auto;line-height:normal;background-image:none;background-position:0% 0%;background-repeat:repeat;margin-top:0;}