#flow_container {
    padding: 2%;
    padding-left: 3%;
    width:91%; height: 310px;
/*    border: 1px solid gray;
*/    position: relative;
}

.item {
    height:80px; width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #333;
    border-radius: 10px;
    float: left;
    position: absolute;
    display: table;
/*    background-color: #33cc47;
    background-color: #36A83E;
*/    background-color: #333;
    color: #fff;
    font-size: small;
    font-family: Verdana, sans-serif;
    /*font-weight: bold;*/
}

.item_text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.legend_item {
    height:14px; width: 14px;
    border: 1px solid #333;
    border-radius: 3px;
    float: left;
    position: absolute;
    display: table;
/*    background-color: #33cc47;
    background-color: #36A83E;
*/    background-color: #333;
    color: #fff;
    font-size: small;
    /*font-weight: bold;*/
}

.legend_item_text {
    height:14px; width: 100px;
    float: left;
    position: absolute;
    display: table;
    color: #333;
    font-size: small;
    font-weight: bold;
}

.legend_item_key {
    display: table-cell;
}

.color_incident {
    background-color: #c92d39;
}

.color_incomplete {
    background-color: #333;
}

.color_progress {
    /*background-color: #337ab7;*/
    background-color: #FFA500;
}

.color_complete {
    background-color: #3fb34f;
}

.color_font_incomplete {
    color: #333;
}

.color_font_progress {
    /*background-color: #337ab7;*/
    color: #FFA500;
}

.color_font_complete {
    color: #3fb34f;
}