{% extends 'all_actions_list.html' %}
{%comment%}
    List of incomplete actions in the DB, displayed in a jQuery datatable which is handled by the listable template tag.
{%endcomment%}
{% load staticfiles %}
{% load listable %}

{% block title %}Incomplete Actions{% endblock title %}

{% block page_title %}<h3>Incomplete Actions</h3>{% endblock page_title %}

{% block listable %}
    {% listable 'incidents_nsir:incomplete-actions' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock listable %}


{% block page_description %}
    <p>All incomplete actions</p>
{% endblock page_description %}
