{% extends 'all_incidents_list.html' %}
{%comment%}
    List of invalid incidents in the DB, displayed in a jQuery datatable which is handled by the listable template tag.
{%endcomment%}
{% load staticfiles %}
{% load listable %}

{% block title %}Invalid Incidents{% endblock title %}

{% block page_title %}<h3>Invalid Incidents</h3>{% endblock page_title %}

{% block listable %}
    {% listable 'incidents_nsir:invalid-incidents' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock listable %}


{% block page_description %}
    <p>All invalid incidents</p>
{% endblock page_description %}
