/*! project specific CSS goes here. */
legend {
    line-height: 26px;
    font-size:16px;
}
legend span.label {
    margin-top:5px;

}
#report-form label.control-label {
    font-weight: bold;
}
hr {
    border-top: 1px solid #e5e5e5;
}
hr.tight {
    margin:5px 0;
}
.tight-well {
    padding:4px;
    background:transparent;
}
.space-top {
    margin-top:30px;

}
dl.dl-horizontal {
    margin:0;
}
a.pull-right {
    margin-right:15px;
}
.form-horizontal .control-group {
    margin-bottom:10px; /* half bootstrap default */
}
.no-label {
    margin-left:20px;

}
div.form-actions {

    padding-bottom:10px; /* half bootstrap default */
    padding-top:10px; /* half bootstrap default */
}
#report-form label.checkbox{
    white-space: nowrap;
    margin-left:0px;
    margin-right:10px;
}
#report-form hover {

}

ul.nav li.dropdown:hover > ul.dropdown-menu ,
ul.nav li.dropdown:hover > div.dropdown-menu {
    display: block;
    margin: 0;
}


.editable:hover {
    border: 1px solid #CCC;
}

.editable{
    padding:1px;
}

.editable:hover {
    padding:0;
}

.popover {
    max-width:400px;
    width:auto;
}

.splitter_panel .top_panel {
    overflow-y:scroll;
}

#triage-form div.form-actions{
    padding-left:0px;
}

.table-striped tbody tr.highlight td {
    background-color: rgba(221,64,20,0.1);
}

.underline {
    padding-bottom:4px;
    border-bottom:1px solid #ccc;
}


table, input.text_filter, select.select_filter {
    font-size:0.9em;
}

#comments h4 {
    font-size:1.1em;

}
.modal.large {
    width: 80%; /* respsonsive width */
    margin-left:-40%; /* width/2) */
}
div.modal-container{
    width:30%;
    float:left;
}
.popover {
    z-index: 9999;
    position: fixed;
}
.block {
    margin-bottom:50px;
}
.navbar h4.brand {
    padding-top:0;
    padding-bottom:0;
}

.form-horizontal label.iform-label {
    font-weight:bold;
}

.block-header {
    min-height:20px;
}
.block-header h4.brand{
    margin-top:2px;
    margin-bottom:4px;
    font-size:18px;
}
.input-xlarge {
    width: 250px;
}
.modal-trigger {
    text-align: left;
    width: 225px;
    min-height: 20px;
}

.modal-trigger:hover {

    background-image: -moz-linear-gradient(top, #fff, #ffddcc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ffddcc));
    background-image: -webkit-linear-gradient(top, #fff, #ffddcc);
    background-image: -o-linear-gradient(top, #fff, #ffddcc);
    background-image: linear-gradient(to bottom, #fff, #ffddcc);

    background-position: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.modal-trigger[disabled]:hover {
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    cursor: not-allowed;
}
.modal-container-small {
    max-width: 25%;

}
#id_auth_password{
    position: relative;
    left: 2.5px
}
.cat-header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #e86537;
    *background-color: #dd4814;
    background-image: -moz-linear-gradient(top, #ef784e, #dd4814);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef784e), to(#dd4814));
    background-image: -webkit-linear-gradient(top, #ef784e, #dd4814);
    background-image: -o-linear-gradient(top, #ef784e, #dd4814);
    background-image: linear-gradient(to bottom, #ef784e, #dd4814);
    background-repeat: repeat-x;
    border-color: #dd4814 #dd4814 #97310e;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-top-color: #fff;
    border-bottom-color: #fff;

    -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    float: none;
    min-width: 500px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.fading-header{
    background-color: #e86537;
    *background-color: #dd4814;
    background-image: -moz-linear-gradient(top, #ef784e, #dd4814);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef784e), to(#dd4814));
    background-image: -webkit-linear-gradient(top, #ef784e, #dd4814);
    background-image: -o-linear-gradient(top, #ef784e, #dd4814);
    background-image: linear-gradient(to bottom, #ef784e, #dd4814);
    background-repeat: repeat-x;
    border-color: #dd4814 #dd4814 #97310e;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.fading-header:hover{
    background-color: #97310e;
    *background-color: #97310e;
    background-image: -moz-linear-gradient(top, #dd4814, #97310e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dd4814), to(#97310e));
    background-image: -webkit-linear-gradient(top, #dd4814, #97310e);
    background-image: -o-linear-gradient(top, #dd4814, #97310e);
    background-image: linear-gradient(to bottom, #dd4814, #97310e);
    background-repeat: repeat-x;
}

.inv-legend {

    color: #fff;
    border: none;
    padding-top: 3px;
    padding-bottom: 8px;
    min-height: 20px;

}
.inv-legend p {
    font-size: 18px;
    text-align: right;
    float: left;
    width: 33%;
    list-style: none;
}
.pull-right-custom {
    float: right;
    margin-right: 15px;
}
html {
  overflow-y: scroll;
}
.custom-text {
    max-width: 70%;
}
.controls input[type="text"] {
    min-height: 30px;
    width:250px;
    vertical-align:  middle;
    display-inside: auto;
}
.row .control-label {
    width: 200px;
    text-align: right;
    float: left;
    list-style: none;
}
.control-label {
    cursor: default;
}
.row .controls {
    margin-left: 215px;
    vertical-align:  middle;
    display-inside: auto;
}
.sized-div {
    float: none;
    width: 75%;
    *width: 75%;
    min-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.dl-horizontal dt {
    width: 200px;
}
.dl-horizontal dd {
    margin-left: 215px;
}
#comment-header {
    max-height: 30px;
}
#show-comments, #hide-comments{
    font-size: 14px;
    color: #97310e;
    padding: 0px;
    text-align: right;
    float: left;
    width: 165px;
    cursor: pointer;

}
#id_comment {
    width: 96%;
    *width: 96%;
}
.right-expand-btn {
    float: right;
    margin-right: 10px;
    padding-top: 5px;
}

/*legends on bottom of dashboard*/
.legend-box {
    padding-top: 6px;
    height: 110px;
    width: 50%;
    margin-left: 10%;
}
.stat-count-legend {
    margin-top: 1%;
}
.small-legend-select {
    margin-left: 0%;
}
.small-legend-select:hover {
}
.checkbox-div-border {
    width: 15px;
    height: 10px;
    background-color: #474747;
    display: inline-block;
    margin-right: 4px;
    padding: 1px;
    cursor: pointer;
}
.checkbox-div {
    width: 100%;
    height: 100%;
}
.small-legend-select label {
    display: inline-block;
}
.checked {
    opacity: 1;
}
.unchecked {
    opacity: 0.4;
}
.well-primary {
    border-color: #dd4814;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.well-secondary {
    background-color: #f8f8f8;
}
.well-secondary .control-label {
    width: 181px;
}
.well-secondary .controls {
    margin-left: 200px;
}
.well-secondary hr {
    margin: 5px 0;
}
.well-error {
    -webkit-box-shadow: 0 0 10px 3px #FF0000 inset;
    -moz-box-shadow: 0 0 10px 3px #FF0000 inset;
    box-shadow: 0 0 20px 3px #FF0000 inset;
}
.btn-text-highlight:hover {
    color: #dd4814;
}
.success, .success .passive, .success a {
    color: #33cc47;
}
.error .passive, .error a {
    color: #df382c;
}